/* classes.css */

.card {
  border-radius: 10px;
}

.card-body {
  padding: 2rem;
}

@media (max-width: 768px) {
  iframe {
    height: 1600px; /* Adjust height for smaller screens */
  }
}

/* reg-hero */
.heror-section {
  background: url('../../assets/soon.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
  padding-top: 10%; /* Adjust this value to move the text higher */
}

.heror-content {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
    padding: 2rem;
    border-radius: 8px;
    transform: translateY(-20%); /* Moves the content higher; adjust as needed */
  }
  
  .heror-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .heror-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .heror-content button {
    font-size: 1rem;
  }