.top {
    background-image:url(../../assets/center.png);
    max-width: 100%;
    background-color: black;
    background-size:auto; /* Scale the image to cover the entire row */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    height: auto; /* Adjust height as needed */
    display: flex; /* Flexbox can help with centering content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.vision{
    background-image:url(../../assets/vision.png);
    background-size: auto;
    background-color: black;
    background-size: cover; /* Scale the image to cover the entire row */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    height: auto; /* Adjust height as needed */
    display: flex; /* Flexbox can help with centering content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.custom-text{
    font-size: 80px;
}

.custom-shadow {
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
    }


    /* Cards ourTeam */

    .bg-soft-lavender {
        background-color: rgba(230, 230, 250, 0.5); /* Lavender with 50% opacity */
      }
    .our-team-container {
        text-align: center;
      }
      
      .team-card {
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      }
      
      .team-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
      
      .team-card img {
        height: 250px;
        object-fit: cover;
      }
      
      
/* CustomStyle.css */
.heroct-section {
  background: url(../../assets/center.png);
}

.custom-col-width {
  max-width: 100%; /* Adjust as needed */
  margin: auto; /* Center the column */
}


.text-center {
  text-align: center;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.fs-3 {
  font-size: 1.75rem;
}

.feature-icon {
  color: #007bff; /* Adjust icon color */
}

.feature-icon i {
  margin-bottom: 1rem;
}
